@media screen and (max-width: 767px) {
    .wrapper {
        width: 300px;
    }

    .left {
        width: 100px;
    }
    .orange {
        width: 75px;
    }

    .yellow {
        width: 125px;
    }

    .blue {
        width: 125px;
    }

    .brown {
        width: 200px;
    }
    
}

@media screen and (max-width: 479px) {
    .left {
        float: none;   
    }

    .right {
        float: none;
    }

    .orange {
        float:none;
    }

    .header,.left,.orange,.blue,.brown,.footer {
        width: 150px;
        height: 100px;
    }

    .yellow {
        width: 150px;
    }

    

    
}