@media screen and (max-width: 479px) {
    .header {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .header-left {
        top: 20px;
        right: 70px;
    }
    
    .header-middle {
        top: 70px;
        right: 70px;
        
        
    }
    
    .header-right {
        top: 120px;
        right: 70px;
    }
    

    .right {
        width: 200px;
        height: 210px;
    }

    .left {
        width: 200px;
        height: 100px;
    }

    .footer {
        width: 200px;
    }

    .left, .right {
        float: none;
    }

    
    .right-top {
        top: 20px;
        left: 30px;
        width: 130px;
    }

    .right-middle {
        top: 80px;
        left: 30px;
        width: 130px;
    }

    .right-bottom {
        top: 140px;
        left: 30px;
        width: 130px;
    }
    
}