@media screen and (max-width: 479px) {
    .header {
        width: 200px;
        height: 200px;
    }

    .right {
        width: 200px;
        height: 210px;
    }

    .left {
        width: 200px;
        height: 100px;
    }

    .footer {
        width: 200px;
    }

    .header-left, .header-middle, .header-right, .left, .right {
        float: none;
    }

    .header-left {
        margin-top: 20px;
        margin-left: 70px;
    }

    .header-middle {
        margin-left: 70px;
        border-left: #fff 10px solid;
        border-right: #fff 10px solid;
        border-top: none;
        border-bottom: none;
        margin-top: 0;
    }
    .header-right {
        margin-left: 70px;
        margin-top: 0;
    }

    .right-top {
        margin-top: 20px;
        margin-left: 30px;
        width: 130px;
    }

    .right-middle {
        margin-top: 10px;
        margin-left: 30px;
        width: 130px;
    }

    .right-bottom {
        margin-top: 10px;
        margin-left: 30px;
        width: 130px;
    }
    
}